# =========================
# Python
# =========================
**/__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Django
# =========================
indie_Analysis/db.sqlite3
*.log

# =========================
# Environnements virtuels
# =========================
env/
venv/
.venv/

# =========================
# Uploads / Static
# =========================
media/
staticfiles/

# =========================
# Variables d’environnement
# =========================
.env
.env.*

# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db
