{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact - DataPlay</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body class="contact-page">
    <header class="header">
      <div class="container">
        <h1 class="logo-text"><a href="{% url 'home' %}">DataPlay</a></h1>
      </div>
    </header>

    <h2 class="section-title">Contact Nous</h2>

    <div class="form-container">
      <form class="form" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="email">Your e-mail:</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="example@email.com"
            required
          />
        </div>
        <div class="form-group">
          <label for="message">How Can We Help You?</label>
          <textarea
            name="message"
            id="message"
            placeholder="Tell us about your inquiry..."
            required
          ></textarea>
        </div>
        <button class="form-submit-btn" type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
